<% content_for :sidebar do %>
  <%= render "shared/error_messages", :target => @profile %>
<% end %>

<%= simple_form_for [:users, @profile], :html => { :url => users_profile_path, :method => :put, :multipart => true } do |f| %>
  <%= f.error_notification %>
  <fieldset>
    <%= f.input :avatar %>
    <%= f.input :avatar_cache, :as => :hidden %>
    <!-- existing image -->
    <% if @profile.avatar? %>
      <div class="control-group">
        <label class="control-label">Avatar image</label>
        <div class="controls">
          <%= image_tag(@profile.avatar.thumb.url) %>
        </div>
      </div>
      <%= f.input :remove_avatar, :as => :boolean, :label => 'Remove this avatar' %>
    <% end %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :birthday, as: :date, start_year: 1900,
                      end_year: Date.today.year - 5,
                      order: [:day, :month, :year] %>
    <%= f.input :sex, collection: [['Male', true], ['Female', false]], label: "Gender", include_blank: 'Select your gender' %>
    <%= f.input :city %>
    <%= f.input :state, collection: Faker::AddressUS::STATE, prompt: "Select your state" %>
    <%= f.input :website %>
  </fieldset>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', users_profile_path, :class => 'btn' %>
  </div>
<% end %>
