<div class="module">
  <div class="module_header"><%= action_name.humanize %> Post</div>
    <div class="module_subheader smaller"></div>
    <div class="module_body">
      <%= form_for [@topic.forum, @topic, @post] do |f| %>
      <% if @post.errors.any? %>
        <% flash.now[:error] = @post.errors.full_messages.join(', and ') %>
      <% end %>
      <div class="fieldset">
        <span class="indent smaller">
          <%= f.label :body %><br />
        </span>
        <span class="input indent smaller"><%= f.text_area :body, :cols => 60, :rows => 15 %></span>
        <div class="clear"></div>
      </div>
    </div>
    <div class="module_footer">
      <div class="fieldset">
        <span class="input"><%= f.submit "submit" %> or <%= link_to "cancel", forum_topic_path(@post.topic.forum, @post.topic) %></span>
        <div class="clear"></div>
      </div>
    </div>
    <% end %>
  </div>
</div>
