<li><%= link_to 'Dashboard', admins_root_path %></li>
<li><%= link_to 'Admins', admins_admins_path %></li>
<li><%= link_to 'Users', admins_users_path %></li>
<li><%= link_to 'Lists', admins_lists_path %></li>
<li><%= link_to 'Items', admins_items_path %></li>
<li><%= link_to 'Contact', admins_contacts_path %></li>
<li><%= link_to 'Forum Categories', admins_forum_categories_path %></li>
<li><%= link_to 'Settings', admins_settings_path %></li>
