<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :id => "modal_auth_sign_up" }, :method => :post, :remote => true) do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Sign-up to theTop5</h3>
  </div>
  <div class="row-fluid modal-body">
    <div class="span6">
      <%= f.input :email, :required => false, :label => false, :placeholder => "Email address" %>
      <%= f.input :password, :required => false, :label => false, :placeholder => "Password" %>
      <%= f.input :password_confirmation, :required => false, :label => false, :placeholder => "Password Confirmation" %>
    </div>
    <div class="span5">
      <%= render "shared/users_devise_links" %>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.button :submit, "Sign up", :id => "myButton", :class => "btn-primary" %>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
<% end %>
